<p-dialog
  [header]="dictionary.CreateEmployee"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
  (onHide)="onHideDialog()"
>
  <div class="registration-form">
    <form #employeeForm="ngForm">
      <div class="form-group">
        <input
          type="text"
          class="form-control item"
          id="fullName"
          name="fullName"
          placeholder="FullName"
          [(ngModel)]="employee.employee_name"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="number"
          class="form-control item"
          id="salary"
          name="salary"
          placeholder="Salary"
          [(ngModel)]="employee.employee_salary"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="number"
          class="form-control item"
          id="age"
          name="age"
          placeholder="age"
          [(ngModel)]="employee.employee_age"
          required
        />
      </div>
      <div class="form-group">
        <button
          type="button"
          class="btn btn-block create-account"
          (click)="onSubmit()"
          [disabled]="!employeeForm.form.valid"
        >
          {{ dictionary.CreateEmployee }}
        </button>
      </div>
    </form>
  </div>
</p-dialog>
